# Prepare data for regression analysis

In [10]:
import pandas as pd

In [43]:
path = "/Users/bernhardbrunner/Desktop/masters_thesis/data/cnb_repo.txt"

In [44]:
repo = pd.read_csv(path, sep="|")

In [45]:
repo["VALID_FROM"] = pd.to_datetime(repo["VALID_FROM"], format="%Y%m%d")

In [46]:
repo["rate_change"] = repo["CNB_REPO_RATE_IN_%"].diff()

In [47]:
repo

    VALID_FROM  CNB_REPO_RATE_IN_%  rate_change
0   1995-12-08               11.30          NaN
1   1996-03-29               11.50         0.20
2   1996-04-29               11.60         0.10
3   1996-05-09               11.80         0.20
4   1996-06-21               12.40         0.60
..         ...                 ...          ...
108 2024-03-21                5.75        -0.50
109 2024-05-03                5.25        -0.50
110 2024-06-28                4.75        -0.50
111 2024-08-02                4.50        -0.25
112 2024-09-26                4.25        -0.25

[113 rows x 3 columns]